DATABASE_URL=postgresql://db_user:db_password@your-rds-endpoint.amazonaws.com:5432/postgres
DATABASE_SSLMODE=require
ENABLE_DB_PERSISTENCE=true
DB_AUTO_INIT=true
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=us-east-1
S3_BUCKET_NAME=resume-pdf
ENABLE_S3_STORAGE=true

LLM_API_KEY=
DEFAULT_LLM_PROVIDER=dashscope
DEFAULT_LLM_MODEL=qwen-max

EMBEDDING_MODEL=all-MiniLM-L6-v2
EMBEDDING_DEVICE=cpu
EMBEDDING_DIMENSION=384
